body {
    font-family: Canterbury;
    font-size: 26px;
    background-color:  #f5edd6;
}

@font-face {
    font-family: Canterbury;
    src: url(css/CanterburyRegular-MVqn.ttf);
}

@font-face {
    font-family: Elatina;
    src: url(css/AAntaraDistance-OVA2e.ttf);
}

a {
    text-decoration:none;
    color: #fcd600;
}

.select_terrain {
    font-size: 16px;
}

#instruction_text {
    font-family: verdana, arial, sans-serif;
}

.select_terrain img {
    width: 16px;
    height: 16px;
}

#main-menu {
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    background-image: url(css/horizontalborder2.png);
}

.main-menu-item {
    margin-left: 40px;
    float: left;
    color: #fcd600;
}

#main {
    min-height: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    background-color: #ffe3a8;
}

#canvas{
    border: 8px solid #aa7c17;
    width: 768px;
    height: 512px;
}

#worldmap {
    border: 8px solid #aa7c17;
    width: 768px;
    height: 512px;
}

#content {
    padding: 20px;
    width: 100%;
}

.border1 {
    float: left;
}

#map-main{
    min-height: 516px;
}

#canvas-main{
    min-height: 516px;
}

.canvas-menu {
    margin-left: 20px;
    border: 8px solid #aa7c17;
    float: left;
}

#intro_text {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}
